<!DOCTYPE HTML>
<html>
<% include header%>
    <head>
        <title>
            <%= title %>
        </title>
        <link href="./images/favicon.ico" rel="shortcut icon" />
        <link href="stylesheets/teacher.css" rel="stylesheet" type="text/css">
        <link href="stylesheets/fileinput.min.css" rel="stylesheet" type="text/css">
        <link href="stylesheets/page.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!--以上为导航栏-->
        <div id="teacher_header_img"></div>
        <div class="main">
            <div class="listleft_report">
                <h2>学生名单</h2>
                <div class="reportList" style="font-size:16px">
                    <div class="headTop">
                        <!-- <span>学校:</span> -->
                        <!-- <select onchange="submitForm()" id="school_sel" name="school_sel">
                            <option>全部</option>
                            <option>东南大学</option>
                        </select> -->
                        <span>实验批次: </span>
                        <select onchange="submitForm()" id="year_sel" name="year_sel">
                            <option>全部</option>
                            <% for(var d in year){%>
                                <option>
                                    <%=year[d].year%>
                                </option>
                                <%}%>
                        </select>
                        <span>注册状态: </span>
                        <select onchange="submitForm()" id="status_sel" name="status_sel">
                            <option>全部</option>
                            <option>未注册</option>
                            <option>已注册</option>
                        </select>
                    </div>
                    <table id="user_list" class="table table-hover">
                        <tr>
                            <th>序号</th>
                            <!-- <th>学校</th> -->
                            <!-- <th>用户类型</th> -->
                            <th>用户名</th>
                            <th>姓名</th>
                            <th>实验批次</th>
                            <th>注册情况</th>
                            <th>操作</th>
                        </tr>
                        <% for(var d in result){%>
                            <tr>
                                <td>
                                    <%=Number(d)+Number(1)%>
                                </td>
                                <td>
                                    <%=result[d].userName%>
                                </td>
                                <td>
                                    <%=result[d].name%>
                                </td>
                                <td>
                                    <%=result[d].year%>
                                </td>
                                <td>
                                    <% switch(result[d].state){
                                       case 0:%>
                                        <p class="text-danger">未注册</p>
                                        <% break; %>
                                            <% case 1:%>
                                                <p class="text-success">已注册</p>
                                                <% break; %>
                                                    <% } %>
                                </td>
                                <td style="font-size:small">
                                    <a href="#" class="text-success" onclick="delist('<%=result[d].id%>')">删除</a>
                                </td>
                            </tr>
                            <%}%>
                    </table>
                </div>
            </div>
            <div id="details" class="repeat_details" align="center" z-index: "1000">
                <label style="font-size:20px;" class="control-label">以下用户已录入,请检查后再添加</label>
                <table id="table" class="table table-hover table-bordered">
                    <tr>
                        <th style="margin:0">序号</th>
                        <th>学号/工号</th>
                        <th style="width:200px;">姓名</th>
                    </tr>
                </table>
            </div>
            <div class="listright_report">
                <div class="form-group">
                    <br>
                    <label style="font-size:22px;" class="control-label">添加用户:</label>
                    <br>
                    <br>
                    <table class="table table-hover">
                        <tr>
                            <th>用户类型&nbsp;
                                <img src="images/svg/required.svg" height="10px" width="10px" alt="必填图标">
                            </th>
                            <th>学校&nbsp;
                                <img src="images/svg/required.svg" height="10px" width="10px" alt="必填图标">
                            </th>
                            <th>实验批次&nbsp;
                                <img src="images/svg/required.svg" height="10px" width="10px" alt="必填图标">
                            </th>
                            <th>班级</th>
                        </tr>
                        <tr>
                            <th>
                                <input id="usertype" class="form-control" value="学生" readonly="readonly" type="text" style="width:120px;font-size: 16px">
                            </th>
                            <th>
                                <input id="school" class="form-control" value="<%=school%>" readonly="readonly" type="text" style="width:120px;font-size: 16px">
                                <!-- <select id="school" class="form-control" style="width:120px;font-size: 16px">
                                    <option>
                                        <%=school%>
                                    </option>
                                </select> -->
                            </th>
                            <th>
                                <select id="year" class="form-control" style="width:100px;font-size: 16px">
                                    <% for(var d in year){%>
                                        <option>
                                            <%=year[d].year%>
                                        </option>
                                        <%}%>
                                </select>
                            </th>
                            <th>
                                <input type="text" style="width:100%;" placeholder="选填" class="form-control" id="classname" />
                            </th>
                        </tr>
                    </table>
                    <br>
                    <br>
                    <label class="control-label" style="font-size:16px">批量录入:</label>&nbsp;&nbsp;
                    <!-- <a href="javascript:void(0)" class="text-primary" onclick="showlistpng()">查看excel模板</a> -->
                    <a href="/listMessage/download" class="text-primary" onclick="return confirm('确认下载模板？')">下载excel模板</a>
                    <!-- <label class="control-label">上传excel</label> -->
                    <div>
                        <input id="listfile" name="listfile" type="file">
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label style="font-size:16px;" class="control-label">单个添加:</label>
                    <br>
                    <table id="addlist" class="table table-hover table-plus">
                        <tr>
                            <th>用户名</th>
                            <th>姓名</th>
                        </tr>
                        <tr id="a">
                            <th>
                                <input type="text" placeholder="学号" style="width:100%;" class="form-control" name="username" />
                            </th>
                            <th>
                                <input type="text" style="width:100%;" class="form-control" name="name" />
                            </th>
                        </tr>
                    </table>
                    <button id="plusone" type="button" class="btn btn-primary">增加</button>
                    <button id="subone" type="button" class="btn btn-primary">减少</button>
                    <br>
                    <br>
                    <button id="uplist" type="button" class="btn btn-success">提交</button>
                </div>
                <br>
                <!-- <div class="form-group">
                    <label style="font-size:20px;" class="control-label">删除用户:</label>
                    <br>
                    <br>
                    <table id="dellist" class="table table-hover">
                        <tr>
                            <th>用户类型</th>
                            <th>用户名</th>
                            <th>姓名</th>
                            <th>班级</th>
                        </tr>
                        <tr id="b">
                            <th>
                                <input type="text" value="学生" readonly="readonly" style="width:105%;" class="form-control" name="usertype1" />
                            </th>
                            <th>
                                <input type="text" placeholder="必填" style="width:100%;" class="form-control" name="username1" />
                            </th>
                            <th>
                                <input type="text" style="width:100%;" readonly="readonly" class="form-control" name="name1" />
                            </th>
                            <th>
                                <input type="text" readonly="readonly" style="width:100%;" class="form-control" name="organization1" />
                            </th>
                        </tr>
                    </table>
                    <button id="delist" type="button" class="btn btn-success">提交</button>
                </div> -->
            </div>
            <div class="clearfix"></div>
        </div>
        <% include footer%>

            <script src="javascripts/bootstrap.js" type="text/javascript"></script>
            <script src="javascripts/jquery-1.12.3.min.js" type="text/javascript"></script>
            <script src="javascripts/fileinput.min.js" type="text/javascript"></script>
            <script src="javascripts/zh.js" type="text/javascript"></script>
            <script src="javascripts/paging.js" type="text/javascript"></script>
            <script>

                $("#plusone").click(function () {
                    var $td = $("#a").clone();       //增加一行,克隆第一个对象
                    $(".table-plus").append($td);
                    // var i = 1;
                    // $(".td").each(function () {       //增加一行后重新更新序号1,2,3......
                    //     $(this).html(i++);
                    // })
                    $(".table-plus tr:last").find(":input").val('');
                    $(".table-plus tr:last").find(":input[name='usertype']").val('学生');   //将尾行元素克隆来的保存的值清空
                });
                $("#subone").click(function () {
                    $(".table-plus tr:not(:first):not(:first):last").remove();
                });
                var repeat = [];
                $("#uplist").click(function () {
                    var school = $("#school").val();
                    var usertype = $("#usertype").val();
                    var year = $("#year").val();
                    var classname = $("#classname").val();

                    var mytable = document.getElementById("addlist");
                    var username = [], name = [];
                    var errorflag = 0;
                    for (var i = 0, rows = mytable.rows.length - 1; i < rows; i++) {
                        if (!(school && usertype && year)) {
                            alert("请完善学校等字段信息");
                            errorflag = 1;
                            return;
                        }
                        // usertype = mytable.rows[i].cells[0].getElementsByTagName("input")[0].value;
                        username[i] = mytable.rows[i + 1].cells[0].getElementsByTagName("input")[0].value;
                        name[i] = mytable.rows[i + 1].cells[1].getElementsByTagName("input")[0].value;
                        // organization = mytable.rows[i].cells[3].getElementsByTagName("select")[0].value;

                        // switch (organization) {
                        //     case "控制1班": organization = "1"; break;
                        //     case "控制2班": organization = "2"; break;
                        //     case "控制3班": organization = "3"; break;
                        // }
                        if (!(username[i] && name[i])) {
                            alert("请完善第" + Number(i + 1) + "行信息");
                            errorflag = 1;
                            return;
                        }
                    }
                    nameStr = JSON.stringify(name);
                    usernameStr = JSON.stringify(username);
                    if (errorflag == 0) {
                        var alertflag = 0;
                        // for (var i = 1; i < username.length; i++) {
                        $.post('listMessage/uplist', {
                            school: school,
                            usertype: usertype,
                            year: year,
                            classname: classname,
                            usernameStr: usernameStr,
                            nameStr: nameStr,
                        }, function (data) {
                            if (data == "success") alert("名单录入成功");
                            else if (data == "failed") alert("名单录入失败");
                            else {
                                document.getElementById("details").style.zIndex = "1000";
                                document.getElementById("details").style.visibility = "visible";
                                var tab = document.getElementById("table");
                                $("#table tr:not(:first)").empty("");
                                for (var i = 0; i < data.length; i++) {
                                    var tabrow = getdataRow(data[i]);
                                    tab.appendChild(tabrow);
                                }
                                $('tr').addClass("table-bordered");
                                $('td').addClass("expMessageCss");
                            }
                        });
                    }
                });
                function getdataRow(data) {
                    var tr = document.createElement("tr");
                    var td1 = document.createElement("td");
                    td1.innerHTML = data.index;
                    tr.appendChild(td1);

                    var td2 = document.createElement("td");
                    td2.innerHTML = data.username;
                    tr.appendChild(td2);

                    var td3 = document.createElement("td");
                    td3.innerHTML = data.name;
                    tr.appendChild(td3);
                    return tr; //返回tr数据   
                }
                function delist(id) {
                    // $("#delist").click(function () {
                    if (confirm("确认删除该用户？")) {
                        $.post('listMessage/delist', {
                            id: id,
                        }, function (data) {
                            if (data == "0") alert("该用户不存在");
                            else if (data == "1") {
                                alert('删除成功');
                            }
                        });
                    }
                    // var username = document.getElementsByName("username1")[0].value;
                    // if (!username)
                    //     alert("请完善信息");
                    // else {
                    //     $.post('listMessage/delist', {
                    //         usertype: '学生',
                    //         username: username,
                    //     }, function (data) {
                    //         if (data == "0") alert("该用户不存在");
                    //         else if (data == "1") {
                    //             alert('删除成功');
                    //         }
                    //     });
                    // }
                }
                $("#listfile").fileinput({
                    language: 'zh', //设置语言
                    uploadUrl: "/listMessage/uplist", //上传的地址
                    allowedFileExtensions: ['xlsx', 'xls'],//接收的文件后缀
                    uploadAsync: true, //默认异步上传
                    showUpload: true, //是否显示上传按钮
                    showRemove: true, //显示移除按钮
                    showPreview: false, //是否显示预览
                    showCaption: true,//是否显示标题
                    browseClass: "btn btn-primary", //按钮样式    
                    dropZoneEnabled: false,//是否显示拖拽区域
                    //minImageWidth: 50, //图片的最小宽度
                    //minImageHeight: 50,//图片的最小高度
                    //maxImageWidth: 1000,//图片的最大宽度
                    //maxImageHeight: 1000,//图片的最大高度
                    //maxFileSize:0,//单位为kb，如果为0表示不限制文件大小
                    //minFileCount: 0,
                    //maxFileCount: 10, //表示允许同时上传的最大文件个数
                    enctype: 'multipart/form-data',
                    validateInitialCount: true,
                    previewFileIcon: "<iclass='glyphicon glyphicon-king'></i>",
                    uploadExtraData: function () {
                        var data = {
                            school: $("#school").val(),
                            usertype: $("#usertype").val(),
                            year: $("#year").val(),
                            classname: $("#classname").val()
                        };
                        return data;
                    },
                    //msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
                }).on("fileuploaded", function (event, data, previewId, index) {
                    if (data == "success") alert("名单录入成功");
                    else if (data == "failed") alert("名单录入失败");
                    else {
                        document.getElementById("details").style.zIndex = "1000";
                        document.getElementById("details").style.visibility = "visible";

                        var tab = document.getElementById("table");
                        $("#table tr:not(:first)").empty("");
                        for (var i = 0; i < data.response.length; i++) {
                            var tabrow = getdataRow(data.response[i]);
                            tab.appendChild(tabrow);
                        }
                        $('tr').addClass("table-bordered");
                        $('td').addClass("expMessageCss");
                    }
                });
                // $("#regstatus").change(function (e) {
                //     var regstatus = $("#regstatus").val();
                //     $.post('regMessage/reg', {
                //         regstatus: regstatus
                //     }, function (data) {
                //     });
                // });
                // function submitForm() {
                //     var form = document.getElementById("myform");
                //     form.submit();
                // }
                function submitForm() {
                    // var school = $("#school_sel option:selected").val();
                    var year = $("#year_sel option:selected").val();
                    // var type = "学生";
                    var status = $("#status_sel option:selected").val();
                    if (year == "全部") year = "-1";
                    if (status == "全部") status = "-1";
                    if (status == "已注册") status = "1";
                    if (status == "未注册") status = "0";
                    $.post('regMessage/getList', {

                        year: year,

                        status: status,
                    }, function (data) {
                        var tab = document.getElementById("user_list");
                        $("#user_list tr:not(:first)").empty("");
                        for (var i = 0; i < data.length; i++) {
                            var tabrow = setdataRow(i + 1, data[i]);
                            tab.appendChild(tabrow);
                            $('').addClass("text-danger");
                        }
                        $('tr').addClass("table-bordered");
                        $('td').addClass("expMessageCss");
                        var sel_count = 0;
                        if (data.length) sel_count = data[0].count;
                        options = {
                            // list:".list",//列表标识
                            currentPage: 1,//初始页（选传，默认1）
                            pageSize: 15,//每页列表数
                            listTotal: sel_count,//列表总数（选传），不传为list总数
                            callback: function (currentPage) {//翻页回调（可填，可做ajax请求）,不传为纯html切换
                                ajaxDemo(currentPage)
                            }
                        }
                        $("#user_list").paging(options);
                    });
                };
                function setdataRow(i, data) {
                    var tr = document.createElement("tr");
                    var td1 = document.createElement("td");
                    td1.innerHTML = i;
                    tr.appendChild(td1);

                    var td2 = document.createElement("td");
                    td2.innerHTML = data.userName;
                    tr.appendChild(td2);

                    var td3 = document.createElement("td");
                    td3.innerHTML = data.name;
                    tr.appendChild(td3);

                    var td4 = document.createElement("td");
                    td4.innerHTML = data.year;
                    tr.appendChild(td4);

                    var td5 = document.createElement("td");
                    switch (data.state) {
                        case 0:
                            state = "未注册"
                            break;
                        case 1:
                            state = "已注册"
                            break;
                    }
                    td5.innerHTML = state;
                    tr.appendChild(td5);

                    var td6 = document.createElement("td");
                    tr.appendChild(td6);
                    var a = document.createElement('a');
                    a.href = "#";
                    a.innerText = "删除";
                    id = String(data.id);
                    school = String(data.school);
                    usertype = String(data.usertype);
                    userName = String(data.userName);
                    a.setAttribute('onclick', 'delist(' + '"' + id + '"'  + ')');
                    a.setAttribute('class', 'text-success');
                    a.style = "font-size:small";
                    td6.appendChild(a);
                    return tr; //返回tr数据   
                }
                var options = {
                    // list:".list",//列表标识
                    currentPage: 1,//初始页（选传，默认1）
                    pageSize: 15,//每页列表数
                    listTotal: '<%=list_count%>',//列表总数（选传），不传为list总数
                    callback: function (currentPage) {//翻页回调（可填，可做ajax请求）,不传为纯html切换
                        ajaxDemo(currentPage)
                    }
                }
                $("#user_list").paging(options);
                function ajaxDemo(page) {
                    // var school = $("#school_sel option:selected").val();
                    var year = $("#year_sel option:selected").val();
                    // var type = "学生";
                    var status = $("#status_sel option:selected").val();
                    // if (school == "全部") school = "-1";
                    if (year == "全部") year = "-1";
                    // if (type == "全部") type = "-1";
                    if (status == "全部") status = "-1";
                    if (status == "已注册") status = "1";
                    if (status == "未注册") status = "0";
                    $.post('regMessage/getList', {
                        page: page,
                        year: year,
                        status: status,
                    }, function (data) {
                        var tab = document.getElementById("user_list");
                        $("#user_list tr:not(:first)").empty("");
                        for (var i = 0; i < data.length; i++) {
                            var tabrow = setdataRow((i + 1) + (Number(data[0].page) - 1) * 15, data[i]);
                            tab.appendChild(tabrow);
                            $('').addClass("text-danger");
                        }
                        $('tr').addClass("table-bordered");
                        $('td').addClass("expMessageCss");
                    });
                }

                // $("#regstatus").change(function (e) {
                //     var regstatus = $("#regstatus").val();
                //     var str = "regMessage?regstatus=" + regstatus;
                //     location.href = str;
                // });

            </script>
    </body>

</html>