<!DOCTYPE HTML>
<html>
<% include header%>

    <head>
        <title>
            <%= title %>
        </title>
        <link href="./images/favicon.ico" rel="shortcut icon" />
        <link href="stylesheets/uploadreport.css" rel="stylesheet" type="text/css">
        <link href="stylesheets/teacher.css" rel="stylesheet" type="text/css">
        <link href="stylesheets/page.css" rel="stylesheet" type="text/css">
        <style>
            html {
                height: 100%;
                min-height: 830px;
            }

            body {
                height: 100%;
            }

            #bottom {
                position: relative;
                bottom: 0;
            }
        </style>
    </head>

    <body>
        <!--以上为导航栏-->
        <div id="teacher_header_img"></div>
        <div class="main" style="margin-top:0">
            <div class="subleft_report">
                <div class="leftup_report">
                    <ul class="nav nav-pills nav-stacked" id="courseid">
                        <li role="presentation" class="active">
                            <a id="-1" href="#" class="courseshow">全部实验</a>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                验证实验
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li role="presentation">
                                    <a id="0" href="#">涡街流量计验证实验</a>
                                </li>
                                <li role="presentation">
                                    <a id="1" href="#">超声波流量计验证实验</a>
                                </li>
                                <li role="presentation">
                                    <a id="2" href="#">超声波液位计验证实验</a>
                                </li>
                            </ul>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                综合实验
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li role="presentation">
                                    <a id="3" href="#">涡街流量计综合实验</a>
                                </li>
                                <li role="presentation">
                                    <a id="4" href="#">超声波流量计综合实验</a>
                                </li>
                                <li role="presentation">
                                    <a id="5" href="#">超声波液位计综合实验</a>
                                </li>
                            </ul>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                设计实验
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li role="presentation">
                                    <a id="6" href="#">涡街流量计设计实验</a>
                                </li>
                                <li role="presentation">
                                    <a id="7" href="#">超声波流量计设计实验</a>
                                </li>
                                <li role="presentation">
                                    <a id="8" href="#">超声波液位计设计实验</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="leftdown_report">
                    <div class="instruction">
                        <div class="report_fdiv">
                            <img src="images/svg/text.svg" alt="text图标">
                            <span>实验思考题提问：</span>
                        </div>
                        <div class="repost_content">
                            <textarea id="question" rows="4" cols="40" style="resize:none;overflow-y:scroll;font-size:medium;"><%=question%></textarea>
                            <br>
                            <button id="btnSub" class="btn btn-primary" style="margin-top:5%" onclick="subquestion()">提交</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right_report">
                <h2>实验报告</h2>
                <div class="reportList">
                    <div class="headTop">
                        <div>
                            <span>实验批次： </span>
                            <select onchange="submitForm()" style="font-size:medium" id="year_sel" name="year_sel">
                                <% for(var d in year){%>
                                    <option>
                                        <%=year[d].year%>
                                    </option>
                                    <%}%>
                            </select>
                            <span>学生学号：</span>
                            <input type="search" id="studentnumber" name="studentnumber" />
                            <button type="button" onclick="research()" class="btn btn-primary btn-sm" id="research">搜 索</button>
                        </div>
                    </div>
                    <table class="table table-hover" id="table">
                        <tr>
                            <th>编号</th>
                            <th>实验名称</th>
                            <th>姓名</th>
                            <th>状态</th>
                            <th>成绩</th>
                            <th>学号</th>
                            <th>查看实验报告</th>
                            <th>重置实验状态</th>
                        </tr>
                        <% for(var d in result){%>
                            <tr>
                                <td>
                                    <%=Number(d)+Number(1)%>
                                </td>
                                <td>
                                    <%=result[d].courseName%>
                                </td>
                                <td>
                                    <%=result[d].name%>
                                </td>
                                <td>
                                    <% if(result[d].teascore==0||result[d].teascore==null){%> 未批改
                                        <% } 
                                    else { %> 已批改
                                            <% } %>
                                </td>
                                <td>
                                    <%=result[d].score%>
                                </td>
                                <td>
                                    <%=result[d].userName%>
                                </td>
                                <td>
                                    <a href="/scoreSubmit?id=<%=result[d].ID%>">
                                        <button type="button" class="btn btn-success">查看实验报告</button>
                                    </a>
                                </td>
                                <td style="font-size:small">
                                    <a href="#" class="text-success" onclick="reset('<%=result[d].ID%>')">重置</a>
                                </td>
                            </tr>
                            <%}%>
                    </table>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <% include footer%>
            <script src="javascripts/bootstrap.js" type="text/javascript"></script>
            <script src="javascripts/jquery-1.12.3.min.js" type="text/javascript"></script>
            <script src="javascripts/paging.js" type="text/javascript"></script>
            <script>
                var id;
                window.onload = function () {
                    var url = window.location.href;
                    id = url.substring(url.length - 2, url.length);
                    var text = ["涡街流量计验证实验", "超声波流量计验证实验", "超声波液位计验证实验", "涡街流量计综合实验", "超声波流量计综合实验", "超声波液位计综合实验", "涡街流量计设计实验", "超声波流量计设计实验", "超声波液位计设计实验"];
                    if (id == "-1" || id == "rk" || id=="0#") document.getElementsByClassName("courseshow")[0].innerText = "全部实验";
                    else {
                        id = id.substring(1);
                        id = parseInt(id);
                        document.getElementsByClassName("courseshow")[0].innerText = text[id];
                    }
                }
                $("#courseid").click(function (e) {
                    var courseid = e.target.id;
                    var str = "reportMark?courseid=" + courseid;
                    if (courseid) {
                        location.href = str;
                    }
                })
                function subquestion() {
                    var question = $("#question").val();
                    if (id == "-1" || id == "rk")
                        alert("请选择实验");
                    else if (!question)
                        alert("问题内容不能为空");
                    else {
                        $.post('reportMark/subquestion', {
                            question: question
                        }, function (data) {
                            if (data == "finished") {
                                alert('提交成功');
                            } else alert("提交失败");
                        })
                    }
                }
                function research() {
                    var studentnumber = $("#studentnumber"),
                        studentnumberval = $.trim(studentnumber.val());
                    if (studentnumberval.length === 0) {
                        alert("学号不能为空");
                        return false;
                    }
                    $.post('reportMark/research', {
                        studentnumber: studentnumberval
                    }, function (data) {
                        var tab = document.getElementById("table");
                        $("#table tr:not(:first)").empty("");
                        if (data.length == 0) {
                            var tr = document.createElement("tr");
                            var td1 = document.createElement("td");
                            td1.innerHTML = "该学生暂无实验记录";
                            tr.appendChild(td1);
                            tab.appendChild(tr);
                        }
                        else {
                            for (var i = 0; i < data.length; i++) {
                                var tabrow = insertReport(i + 1, data[i]);
                                tab.appendChild(tabrow);
                                $('').addClass("text-danger");
                            }
                            $('tr').addClass("table-bordered");
                            $('td').addClass("expMessageCss");
                        }
                    })
                }
                function insertReport(i, data) {
                    var tr = document.createElement("tr");
                    var td1 = document.createElement("td");
                    td1.innerHTML = i;
                    tr.appendChild(td1);

                    var td2 = document.createElement("td");
                    td2.innerHTML = data.courseName;
                    tr.appendChild(td2);

                    var td3 = document.createElement("td");
                    td3.innerHTML = data.name;
                    tr.appendChild(td3);

                    var td4 = document.createElement("td");
                    if (data.teascore == 0 || data.teascore == null)
                        var correctStatus = "未批改";
                    else var correctStatus = "已批改";
                    td4.innerHTML = correctStatus;
                    tr.appendChild(td4);

                    var td5 = document.createElement("td");
                    td5.innerHTML = data.score;
                    tr.appendChild(td5);

                    var td6 = document.createElement("td");
                    td6.innerHTML = data.userName;
                    tr.appendChild(td6);

                    var td7 = document.createElement("td");
                    var a = document.createElement('a');
                    a.setAttribute('href', '/scoreSubmit?id=' + data.ID);
                    var button = document.createElement('button');
                    button.setAttribute('type', 'button');
                    button.setAttribute('class', 'btn btn-success');
                    button.innerHTML = "查看实验报告";
                    a.appendChild(button);
                    td7.appendChild(a);
                    tr.appendChild(td7);

                    var td8= document.createElement("td");
                    var a = document.createElement('a');
                    a.href = "#";
                    a.innerText = "重置";
                    id = String(data.id);
                    a.setAttribute('onclick', 'reset(' + '"' + id + '"'  + ')');
                    a.setAttribute('class', 'text-success');
                    a.style = "font-size:small";
                    td8.appendChild(a);
                    tr.appendChild(td8);
                    return tr;
                }
                function submitForm() {
                    var year = $("#year_sel option:selected").val();
                    $.post('reportMark/getList', {
                        year: year,
                    }, function (data) {
                        var table = document.getElementById("table");
                        $("#table tr:not(:first)").empty("");
                        for (var i = 0; i < data.length; i++) {
                            var tabrow = insertReport(i + 1, data[i]);
                            table.appendChild(tabrow);
                            $('').addClass("text-danger");
                        }
                        $('tr').addClass("table-bordered");
                        $('td').addClass("expMessageCss");
                        var sel_count = 0;
                        if (data.length) sel_count = data[0].count;
                        options = {
                            currentPage: 1,//初始页（选传，默认1）
                            pageSize: 15,//每页列表数
                            listTotal: sel_count,//列表总数（选传），不传为list总数
                            callback: function (currentPage) {//翻页回调（可填，可做ajax请求）,不传为纯html切换
                                ajaxDemo(currentPage)
                            }
                        }
                        $("#table").paging(options);
                    });
                };
                var load_count = '<%=count%>';
                var options = {
                    currentPage: 1,//初始页（选传，默认1）
                    pageSize: 15,//每页列表数
                    listTotal: load_count,//列表总数（选传），不传为list总数
                    callback: function (currentPage) {//翻页回调（可填，可做ajax请求）,不传为纯html切换
                        ajaxDemo(currentPage)
                    }
                }
                $("#table").paging(options);
                function ajaxDemo(page) {
                    var year = $("#year_sel option:selected").val();
                    $.post('reportMark/getList', {
                        page: page,
                        year: year,
                    }, function (data) {
                        var tab = document.getElementById("table");
                        $("#table tr:not(:first)").empty("");
                        for (var i = 0; i < data.length; i++) {
                            var tabrow = insertReport((i + 1) + (Number(data[0].page) - 1) * 15, data[i]);
                            tab.appendChild(tabrow);
                            $('').addClass("text-danger");
                        }
                        $('tr').addClass("table-bordered");
                        $('td').addClass("expMessageCss");
                    });
                }
                function reset(id) {
                    if (confirm("确认重置该用户为未实验状态？")) {
                        $.post('reportMark/reset', {
                            id: id,
                        }, function (data) {
                            if (data == "0") alert("该用户不存在");
                            else if (data == "1") {
                                alert('重置成功');
                            }
                        });
                    }
                }
            </script>
    </body>

</html>