<!DOCTYPE HTML>
<!--未加入Bootstrap的两行链接-->
<html lang="en">
<% include header%>

    <head>
        <title>
            <%= title %>
        </title>

        <link href="./images/favicon.ico" rel="shortcut icon" />
        <link href="stylesheets/uploadreport.css" rel="stylesheet" type="text/css">
        <link href="stylesheets/fileinput.min.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div id="report_header_img"></div>
        <div class="main" style="margin-top:0">
            <div class="stuleft_report1">
                <div class="form-inline">
                    <label for="year" style="font-size:medium">实验批次：</label>
                    <select id="year_sel" class="form-control" style="width:60%;" name="year_sel">
                        <% for(var d in year){%>
                            <option style="font-size:medium" value="<%=year[d].year%>">
                                <%=year[d].year%>
                            </option>
                            <%}%>
                    </select>
                </div>
                <br>
                <ul class="nav nav-pills nav-stacked stuleft_report" id="month">
                    <li role="presentation" class="active">
                        <a href="javascript:void(0)" id="-1">实验开放月份</a>
                    </li>
                    <% for(var d in monthArray){%>
                        <li role="presentation">
                            <a href="javascript:void(0)" id="<%=monthArray[d]%>">
                                <%=monthArray[d]%>月份   
                            </a>
                        </li>
                        <%}%>
                </ul>
            </div>
            <div class="right_report">
                <h2>实验开放日期
                    <span style="font-size:medium;color:#CD5C5C;margin-left:1%;font-weight:bold">(红色：已预约满)</span>
                    <span style="font-size:medium;color:#009ACD;font-weight:bold">(蓝色：不能预约)</span>
                    <span class="device">开放设备数:
                        <span class="deviceNum">
                            <%=deviceNum%>
                        </span>台</span>
                </h2>
                <ul class="expdate nav nav-pills">
                    <% for(var d in timeArray){%>
                        <li role="presentation" id="date<%=d%>">
                            <a href="javascript:void(0);" onclick="orderTime('<%=timeArray[d]%>')">
                                <%=timeArray[d]%>
                            </a>
                        </li>
                        <%}%>
                </ul>
                <div class="exptime">
                    <div onclick="selectTime('08:00')" class="exptimeslot">
                        <br>
                        <div class="orderTime">时间段:08:00-09:00</div>
                        <br>
                        <span class="orderSituation">已有</span>
                        <span class="ordernum" name="num"> </span>
                        <span class="orderSituation1">人预约</span>
                    </div>
                    <div onclick="selectTime('09:00')" class="exptimeslot">
                        <br>
                        <div class="orderTime">时间段:09:00-10:00</div>
                        <br>
                        <span class="orderSituation">已有</span>
                        <span class="ordernum" name="num"> </span>
                        <span class="orderSituation1">人预约</span>
                    </div>
                    <div onclick="selectTime('10:00')" class="exptimeslot">
                        <br>
                        <div class="orderTime">时间段:10:00-11:00</div>
                        <br>
                        <span class="orderSituation">已有</span>
                        <span class="ordernum" name="num"></span>
                        <span class="orderSituation1">人预约</span>

                    </div>
                    <div onclick="selectTime('11:00')" class="exptimeslot">
                        <br>
                        <div class="orderTime">时间段:11:00-12:00</div>

                        <br>
                        <span class="orderSituation">已有</span>
                        <span class="ordernum" name="num"></span>
                        <span class="orderSituation1">人预约</span>
                    </div>
                </div>
                <br>
                <div class="exptime">
                    <div onclick="selectTime('12:00')" class="exptimeslot">
                        <br>
                        <div class="orderTime">时间段:12:00-13:00</div>
                        <br>
                        <span class="orderSituation">已有</span>
                        <span class="ordernum" name="num"></span>
                        <span class="orderSituation1">人预约</span>
                    </div>
                    <div onclick="selectTime('13:00')" class="exptimeslot">
                        <br>
                        <div class="orderTime">时间段:13:00-14:00</div>
                        <br>
                        <span class="orderSituation">已有</span>
                        <span class="ordernum" name="num"></span>
                        <span class="orderSituation1">人预约</span>
                    </div>
                    <div onclick="selectTime('14:00')" class="exptimeslot">
                        <br>
                        <div class="orderTime">时间段:14:00-15:00</div>

                        <br>
                        <span class="orderSituation">已有</span>
                        <span class="ordernum" name="num"></span>
                        <span class="orderSituation1">人预约</span>
                    </div>
                    <div onclick="selectTime('15:00')" class="exptimeslot">
                        <br>
                        <div class="orderTime">时间段:15:00-16:00</div>
                        <br>
                        <span class="orderSituation">已有</span>
                        <span class="ordernum" name="num"></span>
                        <span class="orderSituation1">人预约</span>
                    </div>
                </div>
                <br>
                <div class="exptime">
                    <div onclick="selectTime('16:00')" class="exptimeslot">
                        <br>
                        <div class="orderTime">时间段:16:00-17:00</div>
                        <br>
                        <span class="orderSituation">已有</span>
                        <span class="ordernum" name="num"> </span>
                        <span class="orderSituation1">人预约</span>
                    </div>
                    <div onclick="selectTime('17:00')" class="exptimeslot">
                        <br>
                        <div class="orderTime">时间段:17:00-18:00</div>
                        <br>
                        <span class="orderSituation">已有</span>
                        <span class="ordernum" name="num"> </span>
                        <span class="orderSituation1">人预约</span>
                    </div>
                    <div onclick="selectTime('18:00')" class="exptimeslot">
                        <br>
                        <div class="orderTime">时间段:18:00-19:00</div>
                        <br>
                        <span class="orderSituation">已有</span>
                        <span class="ordernum" name="num"></span>
                        <span class="orderSituation1">人预约</span>

                    </div>
                    <div onclick="selectTime('19:00')" class="exptimeslot">
                        <br>
                        <div class="orderTime">时间段:19:00-20:00</div>

                        <br>
                        <span class="orderSituation">已有</span>
                        <span class="ordernum" name="num"></span>
                        <span class="orderSituation1">人预约</span>
                    </div>
                </div>
                <br>
                <div class="exptime">
                    <div onclick="selectTime('20:00')" class="exptimeslot">
                        <br>
                        <div class="orderTime">时间段:20:00-21:00</div>
                        <br>
                        <span class="orderSituation">已有</span>
                        <span class="ordernum" name="num"> </span>
                        <span class="orderSituation1">人预约</span>
                    </div>
                    <div onclick="selectTime('21:00')" class="exptimeslot">
                        <br>
                        <div class="orderTime">时间段:21:00-22:00</div>
                        <br>
                        <span class="orderSituation">已有</span>
                        <span class="ordernum" name="num"> </span>
                        <span class="orderSituation1">人预约</span>
                    </div>
                </div>
            </div>
            <div class="right_report">
                <div>
                    <a href="javascript:void(0)" class="orderRecord" onclick="getorderRecord()">预约记录</a>
                </div>
                <div id="orderRecord" style="display:none">
                    <table id="table" class="table table-hover table-bordered">
                        <tr>
                            <th style="width:50px;">序号</th>
                            <th style="width:120px;">预约实验日期</th>
                            <th style="width:75px;">时间段</th>
                            <th style="min-width:150px;">预约时间</th>
                            <th style="width:200px;">状态</th>
                            <th style="width:100px;">操作</th>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
        <% include footer%>
            <script src="javascripts/jquery-1.12.3.min.js" type="text/javascript"></script>
            <script src="javascripts/bootstrap.js" type="text/javascript"></script>
            <script>
                var url = window.location.search;
                var yearUrl = decodeURI(url.substring(url.indexOf('=') + 1, url.indexOf("&")));
                if (yearUrl)
                    $("#year_sel").find("option[value=" + yearUrl + "]").attr("selected", true);
                var date;
                var timeFull = '<%=timeFull%>'.split(",");
                var timeArray = '<%=timeArray%>'.split(",");
                var nowDate = Date.now();
                var timepassArray = [];
                for (i = 0; i < timeArray.length; i++) {
                    if (timeFull[i] == 1)
                        document.getElementById("date" + i).style.backgroundColor = "#CD5C5C";
                    var timepass = timeArray[i] + " 23:59:59:59";
                    timepass = new Date(timepass);
                    timepass = timepass.getTime();
                    if (timepass < nowDate) {
                        document.getElementById("date" + i).style.backgroundColor = "#009ACD";
                        timepassArray[i] = 1;
                        // document.getElementById(i).attr('disabled','disabled');
                    }
                }
                console.log(timepassArray);
                // var timearray='<%=timeArray%>';
                // var timefull=[];
                //      for(var i=0;i<timearray.length;i++){
                //             for(var j=0;j<timeFull.length;j++){
                //             if(timearray[i]==timeFull[j].experdate){
                //             if(timeFull[j].num>=deviceNum*8)
                //              timefull[i]=1;
                //         }
                //     }
                //   }
                //   console.log(timeFull);
                function orderTime(orderdate) {
                    date = orderdate;
                    $.post('stuOrder/orderTime', {
                        date: date,
                    }, function (data) {
                        for (var i = 0; i < 14; i++) {
                            document.getElementsByName("num")[i].innerHTML = 0;
                        }
                        for (var i = 0; i < data.length; i++) {
                            if (data[i]) {
                                switch (data[i].expertime) {
                                    case "08:00": data[i].expertime = 0; break;
                                    case "09:00": data[i].expertime = 1; break;
                                    case "10:00": data[i].expertime = 2; break;
                                    case "11:00": data[i].expertime = 3; break;
                                    case "12:00": data[i].expertime = 4; break;
                                    case "13:00": data[i].expertime = 5; break;
                                    case "14:00": data[i].expertime = 6; break;
                                    case "15:00": data[i].expertime = 7; break;
                                    case "16:00": data[i].expertime = 8; break;
                                    case "17:00": data[i].expertime = 9; break;
                                    case "18:00": data[i].expertime = 10; break;
                                    case "19:00": data[i].expertime = 11; break;
                                    case "20:00": data[i].expertime = 12; break;
                                    case "21:00": data[i].expertime = 13; break;
                                }
                                document.getElementsByName("num")[data[i].expertime].innerHTML = data[i].num;
                            }
                        }
                    });
                }
                function selectTime(id) {
                    // var str = window.location.search;
                    // if (!str) alert("请选择需要预约的实验");
                    // else 

                    if (!date) alert("请选择实验日期");
                    else {
                        var i = 0;
                        for (i; i < timeArray.length; i++) {
                            if (date == timeArray[i])
                                break;
                        }
                        if (timepassArray[i] == 1) alert("该日期已经过时，不能预约");
                        else {
                                // var nowTimestamp=new Date().getTime();
                                var deviceNum = '<%=deviceNum%>';
                                var timeid = id;
                                // var timeformat = date + " " + timeid + ":00:00";
                                // var strtime = new Date(timeformat);
                                // timestamp = strtime.getTime();

                                // if(nowTimestamp>=timestamp) {alert("该日期已经过时，不能预约");return;}
                                var year_copy = $("#year_sel option:selected").val();

                                if (confirm("确定预约该时间段吗？")) {

                                $.post('stuOrder/editTime', {
                                    date: date,
                                    deviceNum: deviceNum,
                                    timeid: timeid,
                                    // timestamp: timestamp,
                                    year: year_copy
                                }, function (data) {
                                    if (data=="late") alert("该时间已经过时，不能预约");
                                    else if (data == 'noright') alert("你该学期没有权限做实验");
                                    else if (data == '0')
                                        alert("已预约该时间段，不能重复预约");
                                    else if (data == '1')
                                        alert("该时间段已经预约满");
                                    else if (data == '2')
                                        alert("预约成功");
                                    else alert("预约失败");
                                });
                            }
                        }
                    }
                }
                function getorderRecord() {
                    var nowTime = Date.now();
                    var year_copy = $("#year_sel option:selected").val();
                    document.getElementById("orderRecord").style.display = "inline";
                    $.post('stuOrder/orderRecord', {
                        nowTime: nowTime,
                        year: year_copy
                    }, function (data) {
                        var tab = document.getElementById("table");
                        // var content = document.getElementById("table").rows[1];
                        $("#table tr:not(:first)").empty("");
                        for (var i = 0; i < data.length; i++) {
                            var tabrow = getdataRow(i + 1, data[i]);
                            tab.appendChild(tabrow);
                        }
                        $('tr').addClass("table-bordered");
                        $('td').addClass("reportList");

                    })
                }
                function getdataRow(i, data) {
                    var tr = document.createElement("tr");
                    var td1 = document.createElement("td");
                    td1.innerHTML = i;
                    tr.appendChild(td1);
                    var td3 = document.createElement("td");
                    td3.innerHTML = data.experdate;
                    tr.appendChild(td3);
                    var td4 = document.createElement("td");
                    td4.innerHTML = data.expertime;
                    tr.appendChild(td4);
                    var td5 = document.createElement("td");
                    td5.innerHTML = data.ordertime.substring(0, 16);
                    tr.appendChild(td5);
                    var td6 = document.createElement("td");
                    switch (data.doif) {
                        case 0: data.doif = "失约"; break;
                        case 1: data.doif = "按时完成实验"; break;
                        case 2: data.doif = "迟到"; break;
                        default: data.doif = "等待实验";
                    }
                    td6.innerHTML = data.doif;
                    tr.appendChild(td6);

                    if (data.doif == "等待实验") {
                        var delCell = document.createElement("td");
                        tr.appendChild(delCell);
                        var btnDel = document.createElement('input'); //创建一个input控件 
                        btnDel.setAttribute('type', 'button'); //type="button" 
                        btnDel.setAttribute('value', '取消预约');
                        btnDel.setAttribute('class', 'btn-default');
                        delCell.appendChild(btnDel);
                        var ordertimeid = data.id;
                        btnDel.setAttribute('onclick', 'del(' + ordertimeid + ')');
                    }
                    else {
                        var td7 = document.createElement("td");
                        td7.innerHTML = "/";
                        tr.appendChild(td7);
                    }
                    return tr; //返回tr数据 
                }
                function del(ordertimeid) {
                    if (confirm("确定取消预约？")) {
                        $.post('stuOrder/delOrder', {
                            ordertimeid: ordertimeid
                        }, function (data) {
                            if (data == "success")
                                alert("取消成功");
                        });
                    }
                }
                var month = -1;
                $("#month").click(function (e) {
                    var year = $("#year_sel").val();
                    month = e.target.id;
                    var str = "stuOrder?year=" + year + "&month=" + month;
                    location.href = str;
                })
                $("#year_sel").change(function (e) {
                    var year = $("#year_sel").val();
                    var str = "stuOrder?year=" + year + "&month=" + month;
                    location.href = str;
                })


            </script>
    </body>

</html>